.sidebar {
  width: 40%;
  float: right;
  background-color: orangered;
  border: 10px solid Purple;
}

.Center {
  font-size: 100px;
  color: purple;
  font-family: fantasy;
  border: 10px solid orange;
}

.CD {
  float: left;
  max-width: 50%;
  height: Auto;
}

.Tours {
  max-width: 85%;
  height: auto;
  padding: 25px;
}

body {
  background-color: rgb(137, 132, 132);
  margin: 5%;
}